@import url(common.css);
@import url(header.css);
@import url(footer.css);


/* login style */

#container2{
    background-color: #eee;
    width: 100%;padding-bottom: 5%;
    border-bottom: 2px solid #424c55;
}
#container2 h1{width: 50%;margin: 0 auto;
padding: 60px 0 30px 0;color: #173163;
font-size: 2em;text-transform: uppercase;}

#container2 .loginPage{width: 100%;}
#container2 .loginPage .inputText{padding: 10px 0 40px;}
#container2 .loginPage .inputText p{width: 70%;margin: 0 auto;
padding: 5px 0;}
#container2 .loginPage p input{width: 100%;height: 30px;
font-size: 1.25em;text-indent: 10px;
border: 2px solid #2f4f4f;
outline: none;}
#container2 .loginPage .inputBox{
    width: 70%;margin: 0 auto;padding-bottom: 10px;
}
#container2 .loginPage .inputBox input{
    width: 100%;border: 0;border-radius: 10px;
    background-color: #2f4f4f;padding: 10px 0;
    color: #fff;font-size: 1.5em;font-weight: bold;
    text-transform: uppercase;
}
#container2 .loginPage .joinSearch{padding: 30px 0 70px;}
#container2 .loginPage .joinSearch a{
    display: block;width: 60%; margin: 0 auto;
    margin-bottom: 10px;padding: 5px;border: 1px solid #304961;
    color: #304061;font-size: 1.25em;text-transform: uppercase;
    font-weight: bold;background-color: #fff;
}
#container2 .loginPage .snslink{padding-bottom: 30px;}
#container2 .loginPage .snslink a{
    display: block;width: 60%;height: 51px; margin: 0 auto;
    margin-bottom: 5px; padding: 5px; border: 0;
}
#container2 .loginPage .snslink a img{width: 100%;height: 100%;}